{% extends "mainapp/layout.html" %}
{% block pagename %}Homepage{% endblock %}
{% block headadditions %}
{% load static %}
<script src="{% static 'mainapp/lib/three.js' %}"></script>
<script src="{% static 'mainapp/lib/OBJLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/MTLLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/OrbitControls.js' %}"></script>
<script src="{% static 'mainapp/lib/zip.js' %}"></script>
<script src="{% static 'mainapp/lib/zip-ext.js' %}"></script>
<script src="{% static 'mainapp/preview.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="col-12">
		<h1>3D Model Repository</h1>
		<p>This is a repository for storing models for use in OSM 3D visualizers. Login using OSM OAuth on the top right.</p>
	</div>
	<hr>
	<div class="row flex">
		{% for model in models %}
			{% include "mainapp/modelpanel.html" %}
			<script>
				displayPreview("render-pane{{ model.model_id }}.{{ model.revision }}", {{ model.model_id }}, {{ model.revision }}, {height: 256});
			</script>
		{% endfor %}
	</div>
</div>
{% endblock %}
