{% extends "mainapp/layout.html" %}
{% block pagename %}{{ model.title }}{% endblock %}
{% block headadditions %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainapp/lib/leaflet.css' %}">
<script src="{% static 'mainapp/lib/leaflet.js' %}"></script>
<style>
#mapdiv {
	width: 750px;
	height: 480px;
}
</style>
{% load static %}
<script>
	var model_id = {{ model.model_id }};
	var revision = {{ model.revision }};
</script>
<script src="{% static 'mainapp/comment.js' %}"></script>
<script src="{% static 'mainapp/lib/three.js' %}"></script>
<script src="{% static 'mainapp/lib/OBJLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/MTLLoader.js' %}"></script>
<script src="{% static 'mainapp/lib/OrbitControls.js' %}"></script>
<script src="{% static 'mainapp/lib/zip.js' %}"></script>
<script src="{% static 'mainapp/lib/zip-ext.js' %}"></script>
<script src="{% static 'mainapp/preview.js' %}"></script>
<script src="{% static 'mainapp/map.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<br>
		<div class="col-md-12">
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#view" role="tab">3D View</a></li>
				{% if model.location %}
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#map" role="tab">Map</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="col-md-8" style="margin-bottom: 20px;">
			<div>
				<div class="tab-content" style="overflow: hidden;">
					<div class="tab-pane active" id="view" role="tabpanel">
						<div id="render-pane" style="height: 480px;">
						</div>
						<script>
							displayPreview("render-pane", {{ model.model_id }}, {{ model.revision }}, {height: 480});
						</script>
					</div>
					{% if model.location %}
					<div class="tab-pane" id="map" role="tabpanel">
						<div id="mapdiv">
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			{% if model.is_hidden %}
			<div class="panel panel-danger">
			{% else %}
			<div class="panel panel-primary">
			{% endif %}
				<div class="panel-heading">
					<h3 class="panel-title">{{ model.title }}</h3>
				</div>
				<div class="panel-body">
					<p>Categories:
						{% for category in model.categories.all %}
						<a href="{% url 'search' %}?category={{ category.name }}"><span class="label label-default">{{ category.name }}</span></a>
						{% endfor %}
					</p>
					<p>Tags:
						{% for k, v in model.tags.items %}
						<a href="{% url 'search' %}?tag={{ k }}={{ v }}"><span class="label label-default">{{ k }}={{ v }}</span></a>
						{% endfor %}
					</p>
					<p>Description:</p>
					<p>{{ model.rendered_description|safe }}</p>
					<p>Uploaded by <a href="{% url 'user' model.author.username %}"><span class="label label-default">{{ model.author.username }}</span></a> on {{ model.upload_date|date:"c" }}</p>
					<p>{{ license }}</p>
					{% if user.is_authenticated and model.author == user %}
					<a href="{% url 'edit' model.model_id model.revision %}" class="btn btn-default" role="button">Edit Metadata</a>
					<a href="{% url 'revise' model.model_id %}" class="btn btn-default" role="button">Revise</a>
					{% endif %}
					{% if user.is_authenticated and user.profile.is_admin %}
					{% if model.is_hidden %}
					<strong>This model is hidden</strong>
					{% endif %}
					<form action="{% url 'hide_model' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="model_id" value="{{ model.model_id }}">
						<input type="hidden" name="revision" value="{{ model.revision }}">
						{% if model.is_hidden %}
						<input type="hidden" name="type" value="unhide">
						<button type="submit" class="btn btn-danger">Unhide Model</button>
						{% else %}
						<input type="hidden" name="type" value="hide">
						<button type="submit" class="btn btn-danger">Hide Model</button>
						{% endif %}
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Comments</h3>
				</div>
				<div class="panel-body">
					{% if user.is_authenticated and not user.profile.is_banned %}
					<form action="{% url 'addcomment' %}" method="post" onsubmit="return addComment();" id="comment_form">
						{% csrf_token %}
						<label for="comment">Add your comment:</label><br>
						<textarea cols="80" rows="6" id="comment" name="comment">{{ old_comment }}</textarea><br>
						<input type="hidden" name="model_id" value="{{ model.model_id }}">
						<input type="hidden" name="revision" value="{{ model.revision }}">
						<input type="hidden" name="ajax" value="false">
						<button type="submit" class="btn">Submit</button>
					</form>
					<br>
					{% endif %}
					{% for comment in comments %}
					<div class="panel panel-default">
						{% if user.is_authenticated and user.profile.is_admin and comment.is_hidden %}
						<div class="panel-body panel-hidden">
						{% else %}
						<div class="panel-body">
						{% endif %}
							{{ comment.rendered_comment|safe }}
						</div>
						<div class="panel-footer">
							<a href="{% url 'user' comment.author.username %}">
								<span class="label label-default">{{ comment.author.username }}</span>
							</a>
							on {{ comment.datetime|date:"Y-m-d H:i" }}
							{% if model.revision != comment.model.revision %}
							(revision {{ comment.model.revision }})
							{% endif %}
							{% if user.is_authenticated and user.profile.is_admin %}
							<form action="{% url 'hide_comment' %}" method="post" style="float: right; clear: both;">
								{% csrf_token %}
								<input type="hidden" name="model_id" value="{{ model.model_id }}">
								<input type="hidden" name="revision" value="{{ model.revision }}">
								<input type="hidden" name="comment_id" value="{{ comment.pk}}">
								{% if comment.is_hidden %}
								<input type="hidden" name="type" value="unhide">
								<button type="submit" class="btn btn-danger">Unhide</button>
								{% else %}
								<input type="hidden" name="type" value="hide">
								<button type="submit" class="btn btn-danger">Hide</button>
								{% endif %}
							</form>
							{% endif %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
<script>
{% if model.location %}
initMap("mapdiv", {{ model.location.latitude }}, {{ model.location.longitude }}, 750, 480);
{% endif %}
</script>
{% endblock %}
